<h1>Exercise-1: Answer Select</h1>
<h2>Question #1:</h2>
<vt-select-answer [answers]="availableAnswers" (onAnswerChange)="onAnswerChange($event)"></vt-select-answer>
<h2>Question #2:</h2>
<vt-select-answer [answers]="availableAnswers" (onAnswerChange)="onAnswerChange($event)"></vt-select-answer>
<h2>Question #3:</h2>
<vt-select-answer [answers]="availableAnswers" (onAnswerChange)="onAnswerChange($event)"></vt-select-answer>


<vt-counter-answer [total]="totalSelectedAnswers" [correct]="correctSelectedAnswers"></vt-counter-answer>


<hr/>


<h1>Exercise-2: Translation Pair</h1>
<p><em>(Press "Spacebar" keyboard to show next translation pair)</em></p>
<vt-translation-pair [translationPairs]="availableTranslationPairs"></vt-translation-pair>


<hr/>